include *.txt
include *.md
include *.pkl
recursive-include ./placement_model *

include placement_model/datasets/Placement_Data_Full_Class.csv
include placement_model/datasets/test.csv
include placement_model/trained_models/*.pkl
include placement_model/VERSION
include placement_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]